#header-section {
  padding: 10px;
  background: #333;
  margin-bottom: 50px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
}

.navbar a {
  color: #f1f1f1;
  font-size: 20px;
  text-decoration: none;
  margin: 0px 10px;
  transition: color 0.5s;
}

.navbar a:hover {
  color: blueviolet;
}

#home-link {
  font-family: 'Great Vibes', sans-serif;
  font-size: 35px;
}

/* .navbar button {
  font-size: 20px;
  background-color: white;
  border-radius: 10px;
  padding: 6px 10px;
  cursor: pointer;
  border-style: solid;
  border-color: brown;
  border-width: 3px;
} */

.navbar button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  margin: 0px 5px;
  transition: background-color 0.5s;
}

.navbar button:hover {
  background-color: blueviolet;
}

.navbar button svg {
  pointer-events: none;
}